# tcc_good_code/.gitignore

venv/
env/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd

.vscode/
*.code-workspace

*.log
*.tmp
*.swp
*.bak
*.backup

.DS_Store
Thumbs.db

.cache/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

.idea/
*.sublime-workspace
*.sublime-project
.vscode/

*.rpm
*.deb
*.tar.gz
*.zip
*.egg-info/

*.db

config.yaml
settings.py

*.pdf
*.html


*.flake8

